body {
  font-family: Arial, Helvetica, sans-serif;
  /*padding: 10px 100px 10px 100px;
  margin: auto;*/
  background-color: #EFEFFF;
}

h2 {
  color: #369;
}
#chart, #mini-chart {
  width: 100%;
  font: 13px sans-serif;
  background-color: #FFF;
  overflow: auto;
}

.node rect {
  fill: none;
  fill-opacity: 1;
  shape-rendering: crispEdges;
  stroke-width: 0;
  cursor: pointer;
  display: block;  
}
.node.year-node rect {
  cursor: default;
}
/*
* When a node bis being focused, all non related nodes and links to the node would be dimmed
*/
.hide-links .link{
  opacity: 0;
  transition: 0.3;
}
.dim-chart .node,
.dim-chart .link {
  opacity: 0.2;
  transition: opacity 1s;
}

.dim-chart .node:hover,
.dim-chart .active-node,
.dim-chart .active-link {
  opacity: 1;
  transition: opacity 1s;
}
.node:hover .node-rect,
.node.selected-node .node-rect{
  fill-opacity: 1;
  stroke-width: 4.5;
  transition: fill-opacity 0.8s;
}

.node.active-node .node-rect{
  stroke-width: 10;
  transition: stroke-width 0.3s;
}
.node.year-node:hover rect{
  fill-opacity: 0;
  stroke-width: 0;
}
.node text {
  text-shadow: 0 1px 0 #fff;
  opacity: 0.5;
}
.node:hover text {
  font-weight: bold;
  opacity: 0.9;
}

.link {
  fill: none;
  stroke: #000;
  stroke-opacity: .2;
  stroke-width: 10;
}
.link.active-link {
  stroke-opacity: .7;
  stroke-width: 20;
  transition: stroke-opacity 0.3s;
  transition: stroke-width 0.3s;
}

.d3-tip {
  font-size: 11px;
  line-height: 1;
  padding: 12px;
  background: #fafafa;
  color: #667;
  box-shadow: #a0a0a0 2px 2px 2px;
  border-radius: 2px;
  z-index: 1050;
  transition: opacity 0.3s;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #fafafa;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
  text-shadow: #a0a0a0 2px 2px 2px;
}
.d3-tip-row{
  line-height: 20px;
}
.d3-tip-highlight {
  cursor: pointer;
  color: #369;
}
.d3-tip-highlight:hover {
  color: #ff7f0e;
}
.static-render-container .node tspan{
  display: none;
}
.static-render-container .timeline-node tspan{
  display: inline-block;
}
